# If you want some examples of settings, check out:
# https://github.com/atom/language-gfm/blob/master/settings/gfm.cson
# https://github.com/atom/language-coffee-script/blob/d86c8963dcee0ab811da05a175b2218045d0c124/settings/language-coffee-script.cson
'.source.hsp3':
  editor:
    #tabLength: 2
    #tabType: "soft"
    autoIndentOnPaste: false
    commentStart: '/* '
    commentEnd  : ' */'
    nonWordCharacters: '/\\()"\':,.;<>~!#%^&*|+=[]{}?-…'
    foldEndPattern: '(\\*/|^\\s*(\\}|\\]|\\)))'
    increaseIndentPattern: '(?x)
      ^.*\\{
      | (^\\s*
        repeat
      | for
      | do
      | while
      | \\*)
    '
    decreaseIndentPattern: '(?x)
        ^\\s*\\}
      | loop
      | next
      | until.*
      | wend
    '
